<ul class="list-group gn-resultview gn-resultview-sumup">

  <li class="list-group-item gn-grid col-md-12 col-xs-12"
      data-ng-repeat="md in searchResults.records"
      app-fix-mdlinks=""
      app-md-extent=""
      app-md-extent-md="md">

    <div class="gn-grid-item">

      <!--Title-->
      <div class="row gn-md-title">
        <input data-gn-selection-md type="checkbox" class="hidden-xs"
               data-ng-model="md['geonet:info'].selected"
               data-ng-change="change()"/>

        <h4 title="{{md.title || md.defaultTitle}}">
          <a  href="md.viewer#/pigeo_simple_view/{{md.getUuid()}}" app-formatter app-formatter-md="md">
            {{(md.title || md.defaultTitle)}}</a>
        </h4>
      </div>

      <div class="md-details" title="{{(md.abstract || md.defaultAbstract) | striptags}}">
        <div class="gn-md-thumbnail" ng-class="{'gn-md-emptythumbnail': !md.thumbnail }">
          <img gn-img-modal="md" class="gn-img-thumbnail" data-ng-src="{{md.thumbnail}}" data-ng-if="md.thumbnail"/>
        </div>
        <div class="text-justify md-abstract">
          <p>{{::(md.abstract || md.defaultAbstract)}}</p>
        </div>
        <div style="width:5px;height:50px;background-color: {{::md.extentColor}}"></div>
      </div>
      <div data-ng-if="md.getContactResources()" class="gn-md-source" title="{{::md.getContactResources()}}">
        <em>{{::md.getContactResources() | characters : 80}}</em>
      </div>
      <div class="md-footer">
        <app-admin-btn></app-admin-btn>
        <app-links-btn class="pull-right"></app-links-btn>
      </div>
    </div>
  </li>
</ul>
