<div class="layerprocess" ng-show="ctrl.service.current" ng-class="{'panel-expanded': ctrl.expanded}">
  <h4 translate="">layerProcess</h4>
  <button class="close-panel" ng-click="ctrl.close()">
    ✕
  </button>
  <div class="expand-panel" ng-click="ctrl.expanded = !ctrl.expanded">
    <span ng-hide="ctrl.expanded" class="fa fa-expand"></span>
    <span ng-show="ctrl.expanded" class="fa fa-compress"></span>
  </div>

  <div class="info">
    {{ctrl.service.current.layer.get('label')}}
    <div><em>{{ctrl.service.current.type | translate}}</em></div>
  </div>

  <div class="layerprocess-panel">
  </div>
</div>
