<!--
<button class="btn btn-default pull-right" ng-click="ctrl.loadImages()" translate>Load</button>
-->

<div class="btn-group pull-right" role="group">
  <button class="btn btn-default"
          data-ng-click="ctrl.loadImages()()">
    <i class="fa fa-spinner fa-spin" ng-if="ctrl.loader.loading"></i>
    &nbsp;
    <span ng-if="!ctrl.loader.loading">{{'Load'|translate}}</span>
    <span ng-if="ctrl.loader.loading">{{'Loading'|translate}}</span>
  </button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <label>
        <input type="radio" value="1" ng-model="ctrl.loader.ratio">
        <span translate>resolution.high</span>
      </label>
    </li>
    <li>
      <label>
        <input type="radio" value="2" ng-model="ctrl.loader.ratio">
        <span translate>resolution.medium</span>
      </label>
    </li>
    <li>
      <label>
        <input type="radio" value="4" ng-model="ctrl.loader.ratio">
        <span translate>resolution.low</span>
      </label>
    </li>
  </ul>
</div>

<span class="text-success" ng-show="ctrl.loader.loaded" translate>animation.loaded</span>
<span class="text-danger" ng-hide="ctrl.loader.loaded" translate>animation.notloaded</span>
<div class="progress">
  <div class="progress-bar"
       ng-class="ctrl.loader.loaded ? 'progress-bar-success' : 'progress-bar-danger'"
       data-ng-style="{width: ctrl.loader.progress + '%'}"/>
</div>

<app-animator app-animator-list="ctrl.dates"
              app-animator-onchange="ctrl.onAnimatorChange(index)"
              ng-if="ctrl.dates"
              class="row form-horizontal">
</app-animator>
