/* Override other styles --- geoportal interface */

/* admin menu icons*/
.save {
    background-image: url("../../images/default/map/icon_savewmc.png") !important;
}
.export {
    background-image: url("../../geoportal/images/upload.png") !important;
}
.import {
    background-image: url("../../geoportal/images/download.png") !important;
}
.reload {
    background-image: url("../../geoportal/images/refresh.png") !important;
}
.tree {
    background-image: url("../../geoportal/images/auto.png") !important;
}
.folder {
    background-image: url("../../images/default/folder.png") !important;
}
.wms {
    background-image: url("../../images/default/map/map_go.png") !important;
}
.chart {
    background-image: url("../../geoportal/images/chart.png") !important;
}
.add {
    background-image: url("../../images/default/map/add_layer.png") !important;
}
.remove {
    background-image: url("../../images/default/map/delete_layer.png") !important;
}
.duplicate {
    background-image: url("../../images/default/category/dataset.png") !important;
}
.restore {
    background-image: url("../../geoportal/images/edit-undo.png") !important;
}
.view {
    background-image: url("../../geoportal/images/text-x-generic.png") !important;
}