<form class="form-horizontal" role="form"
      data-ng-search-form="" runsearch="true">

  <!--any field-->
  <div class="input-group gn-search-input">
    <input type="text" ng-model="searchObj.params.any" placeholder="{{'anyPlaceHolder' | translate}}"
           typeahead="address for address in ctrl.getAnySuggestions($viewValue)" typeahead-focus-first="false" typeahead-loading="ctrl.anyLoading" class="form-control"
           typeahead-min-length="1" id="anySearchField" autocomplete="off">
    <i ng-show="ctrl.anyLoading" class="fa fa-refresh inner-spinner"></i>
        <span class="input-group-btn">
          <button type="submit" data-ng-click="triggerSearch()" class="btn btn-default search-btn">
            <i class="fa fa-search"></i>
          </button>
        </span>
  </div>

  <div class="geocatalog-content">
    <ul class="nav nav-tabs">
      <li role="presentation">
        <a href="" data-target="#appSearchForm" data-toggle="tab"><span translate="">advanced</span></a>
      </li>
      <li role="presentation" class="active">
        <a href="" data-target="#appSearchresults" data-toggle="tab"><span translate="">results</span>&nbsp;<span>({{searchResults.count}})</span> </a>
      </li>
      <button type="submit" data-ng-click="resetSearch()" class="btn btn-default app-reset-btn ng-scope" ng-disabled="!searchObj.canReset" disabled="disabled">
        <span class="hidden-xs" translate="">reset</span>
        <span class="fa fa-close visible-xs"></span>
      </button>
    </ul>

    <div class="tab-content inner">

      <!--Search result -->
      <div id="appSearchresults" class="tab-pane active">
        <!--Tool bar-->
        <div class="row gn-toolbar"
             data-ng-show="searchResults.records.length > 0">
          <div class="col-md-12">
            <div class="pull-right hidden-xs"
                 data-gn-pagination="paginationInfo"
                 template="../../catalog/views/pigeo/templates/pagination.html"
                 data-hits-values="searchObj.hitsperpageValues"></div>

            <div class="pull-right"
                 data-sortby-combo=""
                 data-params="searchObj.params"
                 template="../../catalog/views/pigeo/templates/sortbycombo.html"
                 data-gn-sortby-values="searchObj.sortbyValues"></div>
            <div data-gn-selection-widget="" class="hidden-xs"
                 data-results="searchResults"></div>
          </div>
        </div>

        <!--Results-->
        <div class="row" id="search-result">
          <div class="col-md-12" ng-if="::!ctrl.showResult">
          <span class="loading fa fa-spinner fa-spin"
                data-ng-show="searching"></span>

            <div class="alert alert-warning" role="alert"
                 ng-if="!searching && searchResults.count == 0">
              <i class="fa fa-frown-o"></i>
              <span data-translate="">zarooResult</span>
            </div>

            <div data-ng-show="searchResults.records.length > 0"
                 data-gn-results-container=""
                 data-search-results="searchResults"
                 data-template-url="resultTemplate"
                 data-map="map"></div>

          </div>
        </div>
        <div class="pull-right bottom-pagination" ng-if="searchResults.records.length > 3"
             data-gn-pagination="paginationInfo"
             template="../../catalog/views/pigeo/templates/pagination.html"
             data-hits-values="searchObj.hitsperpageValues"></div>
      </div>

      <!--Advanced search form -->
      <div id="appSearchForm" class="tab-pane">

        <div class="">

          <!--Facets-->
          <div class="col-md-7">
            <div
                 data-gn-facet-dimension-list="searchResults.dimension"
                 data-params="searchObj.params"
                 data-facet-type="::ctrl.facetsSummaryType"
                 data-current-facets="currentFacets">
            </div>
          </div>

          <!--geom filter-->
          <div class="col-md-5">
            <h4 translate="">geomFilter</h4>
            <div class="btn-group gn-draw-btn" data-ng-if="ctrl.geomRelations">
              <button class="btn btn-default" gn-draw-bbox-btn="searchObj.params.geometry"
                      gn-draw-bbox-extent="{{gnDrawBboxExtent}}"
                      gi-btn
                      title="{{getButtonTitle()}}"
                      data-ng-class="{active: interaction.active}"
                      data-ng-model="interaction.active">
                <i class="fa fa-pencil fa-fw" data-ng-hide="interaction.active"></i>
                <i class="fa fa-eraser fa-fw" data-ng-show="interaction.active"></i>
              </button>
              <button type="button"
                      class="btn btn-default dropdown-toggle"
                      title="{{'chooseSpatialFilterType' | translate}}"
                      data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation"
                    data-ng-class="{disabled : !searchObj.params.relation}">
                  <a role="menuitem"
                     ng-click="searchObj.params.relation = undefined;triggerSearch();"
                     href=""
                     translate="">intersectWith
                  </a>
                </li>
                <li data-ng-repeat="r in ctrl.geomRelations"
                    role="presentation"
                    data-ng-class="{disabled : searchObj.params.relation == r}">
                  <a role="menuitem"
                     ng-click="searchObj.params.relation = r;triggerSearch();"
                     href="">{{r | translate}}
                  </a>
                </li>
              </ul>
            </div>
            <h4 translate="">search.resources</h4>
            <div class="search-sub-section">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="searchObj.params.download" ng-false-value="null"><span translate="">search.download</span>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="searchObj.params.dynamic" ng-false-value="null"><span translate="">search.dynamic</span>
                </label>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</form>
