<div class="row filter-input app-layertree-filter" ng-if="::layertreeCtrl.isRoot" >
  <span class="fa fa-times-circle clear" ng-click="catalogCtrl.activeFilter = ''" ng-show="catalogCtrl.activeFilter" title="{{'clear'|translate}}"></span>
  <input type="text" class="form-control input-sm layerfilter" placeholder="{{'filter'|translate}}"
         data-ng-model="catalogCtrl.activeFilter" data-ng-model-options="{debounce: 300}">
</div>


<!--First level nodes-->
<a data-toggle="collapse" class="collapsed" data-parent="#catalog-{{::layertreeCtrl.parentUid}}"
   href="#catalog-{{::layertreeCtrl.uid}}"
   ng-if="!layertreeCtrl.layer && layertreeCtrl.depth == 1 && layertreeCtrl.node.children"
   ng-hide="layertreeCtrl.node._matchFilter === false"
   ng-click="catalogCtrl.toggleNode(layertreeCtrl, $event)">
  {{layertreeCtrl.node.text | translate}}
</a>

<!--Deeper level nodes-->
<a data-toggle="collapse" class="collapsed"
   href="#catalog-{{::layertreeCtrl.uid}}"
   ng-if="!layertreeCtrl.layer && layertreeCtrl.depth > 1 && layertreeCtrl.node.children"
   ng-hide="layertreeCtrl.node._matchFilter === false"
   ng-click="catalogCtrl.toggleNode(layertreeCtrl, $event)">
  <i ng-if="::!layertreeCtrl.isRoot && layertreeCtrl.node.children && layertreeCtrl.depth > 1" class="fa fa-plus-square"></i>
  {{layertreeCtrl.node.text | translate}}
</a>

<!--Layer leaf-->
<div ng-if="layertreeCtrl.layer" ng-hide="layertreeCtrl.node._matchFilter === false">
  <un-layerinfo-btn layer="::layertreeCtrl.layer"></un-layerinfo-btn>
  <a href="" ng-click="catalogCtrl.toggle(layertreeCtrl.node)">
    <i ng-if="layertreeCtrl.layer.loading" class="fa fa-refresh fa-spin layer-loader"></i>
    <i class="fa" ng-class="(layertreeCtrl.getSetActive()) ? 'fa-check-square' : 'fa-square'"></i>
    <i data-ng-if="layertreeCtrl.node.type == 'chart'" class="fa fa-pie-chart chart-icon"></i>
    {{layertreeCtrl.node.text | translate}}
  </a>
</div>

<ul id="catalog-{{::layertreeCtrl.uid}}" ng-if="::layertreeCtrl.node.children"
    ng-class="{collapse: !layertreeCtrl.isRoot, catalog: layertreeCtrl.isRoot}">
  <li ng-repeat="node in ::layertreeCtrl.node.children"
      ngeo-layertree="node"
      ngeo-layertree-notroot
      ngeo-layertree-map="layertreeCtrl.map"
      ngeo-layertree-nodelayerexpr="layertreeCtrl.nodelayerExpr"
      ng-class="::(layertreeCtrl.isRoot || (layertreeCtrl.node.children)) ? 'panel' : ''">
  </li>
</ul>
