.gn-gfi-loading:hover {
  cursor: wait;
}

[gn-gfi] {
  .results {
    position: absolute;
    bottom: 50px;
    left: 0;
    right:0;
    margin-bottom: 0;
    max-height: 40em;
    z-index: 1060;
    overflow: auto;
    .panel-heading,
    .panel-footer {
      background: transparent;
      padding: .25em 1em;
    }
    .panel-heading {
      background: @main_color_50;
      position: sticky;
      top: 0;
      z-index: 3;
    }
    .list-group {
      ul {
        padding-left: 0;
        list-style: none;
      }
      h5 {
        padding-left: 1em;
      }
    }
    span {
      display: inline-block;
      max-width: 20em;
      vertical-align: top;
      .text-overflow();
    }
    b {
      text-transform: capitalize;
      display: inline-block;
      width: 12em;
      text-align: right;
    }
    .close {
      padding-top: .3em;
      &:hover {
        background: transparent;
      }
    }
  }
}

.marker {
  pointer-events: none;
  font-size: 36px;
  color: red;
  -webkit-transform: rotate(-45deg);
  text-shadow: 0 0 2px @main_color_600;
}

[gn-gfi] {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2.3em;
  z-index: 1060;
  .results {
    background-color: rgba(255,255,255,0.5);
    left: .5em;
    right: 9.5em;
    bottom: .5em;
    border-radius: 0;
    width: auto;
    overflow: visible;
    .panel-heading {
      position: absolute;
      top: -1em;
      right: 1em;
      background: @main_color_800;
      width: 15em;
      height: auto;
      border-radius: 0;
      z-index: 0;
      height: 2em;
      padding: 0;
      border-radius: 2px;
      h5 {
        margin: 0 .5em;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 2.3em;
        color: white;
      }
      .btn {
        background: white;
        opacity: 1;
        width: 1.2em;
        border-radius: 2px;
        padding: 3px 0 3px;
        color: black;
      }
    }
    .sxt-layer {
      padding: 0 2em;
    }
    .table-scroller {
      overflow-x: auto;
    }
    h5 {
      color: @main_color_800;
      font-weight: bold;
    }
    table {
      width: 100%;
      background: #fff;
      border-bottom: 1px solid @gray-lighter;
      font-size: 11px;
      margin-bottom: 0;
      th {
        color: black;
        font-weight: bold;
        background: #eee;
        border-right: 1px solid #aaa;
      }
    }
  }
}
