app-timeslider {
  > .btn-group {
    margin-left: 20px;

    .btn-default {
      color: #333;
      background-color: #ebebeb;
      border-color: #adadad;
    }

    .dropdown-menu {
      li {
        &:hover {
          background-color: @main_color_200;
        }
      }
      label {
        font-weight: normal;
        margin-left: 10px;
        input[type="radio"] {
          margin: 0;
          vertical-align: middle;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .progress {
    height: 10px;
    border-radius: 0;
    background-color: @main_color_100;
    box-shadow: none;
    margin-bottom: 0;
    &.empty {
    }
  }
}
