<div id="main-container" ng-controller="MainController as mainCtrl">

  <!--Header-->
  <header class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/geonetwork" target="_blank">
          <img class="respimg" width="180" alt="ResEau" ng-src="../../catalog/views/pigeo/data/{{::mainCtrl.ui.name}}.png" style="">
        </a>
        <div class="portaltitle navbar-brand">
          <span class="title">{{('ui.' + mainCtrl.ui.name + '.title') | translate}}</span>
          <span>{{('ui.' + mainCtrl.ui.name + '.subtitle') | translate}}</span>
        </div>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <un-search un-search-map="::mainCtrl.map"></un-search>
      </ul>
      <div class="app-lang-selector">
        <span class="app-lang" ng-click="mainCtrl.switchLang(key)" ng-class="{active: key == mainCtrl.lang}" ng-repeat-start="(key, value) in ::mainCtrl.langs">{{value}}</span><span ng-repeat-end="" ng-if="!$last">&nbsp;|&nbsp;</span>
      </div>
      <a href class="app-auth-btn" ng-click="mainCtrl.showAuth = !mainCtrl.showAuth"><span class="fa fa-user" ng-class="authenticated ? 'fa-user' : 'fa-user-times'" id="authBtn"></span></a>
    </div>
  </header>

  <div id="sidebar" ng-class="{open: mainCtrl.sidebarOpen()}">

    <div id="sidebar-header" class="un-main-tools" ngeo-btn-group ng-class="{active: mainCtrl.sidebarOpen()}">
      <button class="un-tool-btn btn" ngeo-btn ng-model="mainCtrl.layersOpen"><span class="icon layers"></span><span role="tooltip" translate="">layers</span></button>
      <button class="un-tool-btn btn" ngeo-btn ng-model="mainCtrl.importOpen"><span class="fa fa-plus"></span><span role="tooltip" translate="">import</span></button>
      <button class="un-tool-btn btn" ngeo-btn ng-model="mainCtrl.contextOpen"><i class="icon map"></i><span role="tooltip" translate="">mycontext</span></button>
      <button class="un-tool-btn btn hidden-xs" ngeo-btn ng-model="mainCtrl.printOpen"><i class="fa fa-print"></i><span role="tooltip" translate="">print</span></button>
      <button class="un-tool-btn btn" ngeo-btn ng-model="mainCtrl.measureActive"><i class="icon measure"></i><span role="tooltip" translate="">measure</span></button>
      <button class="un-tool-btn btn hidden-xs" ngeo-btn ng-model="mainCtrl.geodashQueryOpen"><i class="fa fa-bar-chart"></i><span role="tooltip" translate="">temporalquery</span></button>
      <button class="un-tool-btn btn" ngeo-btn ng-model="mainCtrl.polygonQueryOpen" data-ng-disabled="!mainCtrl.polygonQueryEnabled"><i class="fa fa-info-circle"></i><span role="tooltip" translate="">polygonquery</span></button>
      <button class="un-tool-btn btn geocatalog-btn" ngeo-btn ng-model="mainCtrl.geocatalogOpen"><i class="fa fa-book"></i><span role="tooltip" translate="">geocatalog</span></button>
    </div>

    <app-measure-tools app-measure-tools-map="::mainCtrl.map" app-measure-tools-active="mainCtrl.measureActive" ng-show="mainCtrl.measureActive">
    </app-measure-tools>

    <div id="sidebar-content">

      <!--Layers sidebar-->
      <div id="layers" data-ng-show="mainCtrl.layersOpen">
        <h2 translate>layers</h2>
        <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
          ✕
        </button>

        <!--Background layer combo-->
        <app-backgroundlayer app-backgroundlayer-map="::mainCtrl.map"></app-backgroundlayer>

        <!--Tab panel header-->
        <ul class="nav nav-tabs">
          <li role="presentation" class="active">
            <a href data-target="#layertree" data-toggle="tab" translate>select</a>
          </li>
          <li role="presentation">
            <a data-target="#layermanager" data-toggle="tab" href>
              <span translate>organize</span>
              <span ng-if="mainCtrl.selectedLayers.length > 0">({{mainCtrl.selectedLayers.length}})</span>
            </a>
          </li>
        </ul>

        <!--Tab panel content-->
        <div class="tab-content" ng-class="{divided: mainCtrl.appLayerprocessService.current != null}">

          <!--Catalog tree-->
          <div id="layertree" class="tab-pane active">
            <app-catalog app-catalog-map="::mainCtrl.map"></app-catalog>
          </div>

          <!--Mymap, list of inmap layer-->
          <div id="layermanager" class="tab-pane">
            <app-layermanager app-layermanager-map="::mainCtrl.map"
                              app-layermanager-layers="::mainCtrl.selectedLayers">
            </app-layermanager>
            <div class="text-center">
              <button class="btn btn-default" app-alllegends app-alllegends-map="::mainCtrl.map"><i class="fa fa-list"></i>&nbsp;<span translate="">legends</span></button>
              <button class="btn btn-default" ng-click="mainCtrl.showTab('a[data-target=#layertree]')"><span translate>addLayer</span></button>
            </div>
            <app-layerprocess app-layerprocess-map="::mainCtrl.map" app-layerprocess.layer="" id="layerprocess">
            </app-layerprocess>
          </div>
        </div>
      </div>

      <!--Import sidebar-->
      <div id="import" data-ng-show="mainCtrl.importOpen">
        <h2 translate>Import externe</h2>
        <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
          ✕
        </button>

        <!--Tab panel header-->
        <ul class="nav nav-tabs">
          <li role="presentation"  class="active">
            <a href data-target="#importwms" data-toggle="tab">WMS</a>
          </li>
          <li role="presentation">
            <a href data-target="#importwmts" data-toggle="tab">WMTS</a>
          </li>
          <li role="presentation">
            <a href data-target="#importkml" data-toggle="tab">KML</a>
          </li>
        </ul>

        <!--Tab panel content-->
        <div class="tab-content">

          <!--Import WMS-->
          <div id="importwms" class="tab-pane active">
            <div gn-wms-import="wms"
                 gn-wms-import-map="::mainCtrl.map"
                 services-list-from-catalog="true"></div>
          </div>

          <!--Import WMTS-->
          <div id="importwmts" class="tab-pane">
            <div gn-wms-import="wmts" gn-wms-import-map="::mainCtrl.map"></div>
          </div>

          <!--Import KML-->
          <div id="importkml" class="tab-pane">
            <div gn-kml-import="" gn-kml-import-map="::mainCtrl.map"></div>
          </div>
          <div class="text-center">
            <button class="btn btn-default"
                    ngeo-btn ng-model="mainCtrl.layersOpen"
                    ng-click="mainCtrl.showTab('a[data-target=#layermanager]')">
              <span class="icon layers"></span>&nbsp;<span translate="">organize</span>
            </button>
          </div>

        </div>
      </div>

      <!--Map management (save/load contexts)-->
      <div id="contextpanel" data-ng-show="mainCtrl.contextOpen">
        <h2 translate>mycontext</h2>
        <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
          ✕
        </button>
        <div class="tab-content no-nav">
          <div gn-ows-context="" map="::mainCtrl.map"></div>
        </div>
      </div>

      <!--Print form panel-->
      <div id="printpanel" data-ng-show="mainCtrl.printOpen">
        <h2 translate>print</h2>
        <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
          ✕
        </button>
        <div class="tab-content no-nav">
          <div gn-mapprint="" print-active="mainCtrl.printOpen" map="::mainCtrl.map"></div>
        </div>
      </div>

      <!--geo catalog form & results-->
      <div id="geocatalog" data-ng-show="mainCtrl.geocatalogOpen">
        <h2 translate>geocatalog</h2>
        <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
          ✕
        </button>
        <div class="tab-content no-nav">
          <app-geo-catalog app-geo-catalog-map="::mainCtrl.map" app-geo-catalog-user="::user"></app-geo-catalog>
        </div>
      </div>

      <!--Animation panel -->
      <div id="polygonquerypanel" data-ng-show="mainCtrl.polygonQueryOpen">
        <h2 translate>polygonquery</h2>
        <button class="close-panel" ng-click="mainCtrl.closeSidebar()">
          ✕
        </button>
        <div class="tab-content no-nav">
          <app-query-polygon app-query-polygon-map="::mainCtrl.map"
                             app-query-polygon-vector="::mainCtrl.queryLayer"
                             app-query-polygon-active="mainCtrl.polygonQueryOpen"
                             app-query-polygon-enabled="mainCtrl.polygonQueryEnabled">
          </app-query-polygon>
        </div>
      </div>
    </div>
  </div>


  <!--Container-->
  <div id="map-container" >
    <div ngeo-map="::mainCtrl.map">
    </div>
    <div class="un-zoom-extent ol-control">
      <button title="{{'ZoomToMapMaxExtent' | translate}}" ng-click="mainCtrl.zoomToExtent()"><span class="fa fa-globe"></span></button>
    </div>
  </div>
  <div gn-gfi=""  map="::mainCtrl.map" ></div>
  <gn-features-tables gn-features-tables-map="::mainCtrl.map"></gn-features-tables>

  <div gn-localisation-input map="::mainCtrl.map"></div>
  <app-admin-units app-admin-units-map="::mainCtrl.map"></app-admin-units>

  <app-auth ng-show="mainCtrl.showAuth"></app-auth>

  <app-query-geodash app-query-geodash-map="::mainCtrl.map"
                     app-query-geodash-vector="::mainCtrl.queryLayer"
                     app-query-geodash-active="mainCtrl.geodashQueryOpen">
  </app-query-geodash>

  <app-kml-overlay app-kml-overlay-map="::mainCtrl.map"></app-kml-overlay>
  <app-layerloader app-layerloader-map="::mainCtrl.map"></app-layerloader>

  <!--Recenter the map taking the catalog space on the left-->
  <app-catalog-recenter></app-catalog-recenter>

  <footer>
    <app-scaleselector class="pull-right" map="::mainCtrl.map">
    </app-scaleselector>
    <app-mouseposition class="" map="::mainCtrl.map">
    </app-mouseposition>
    <!--
        <div id="scale-position" ngeo-control="mainCtrl.scaleControl" ngeo-control-map="mainCtrl.map"></div>
    -->
  </footer>
  <div id="vis"></div>

</div>

